$blueprint-grid-columns: 28
$blueprint-grid-width: 30px
$blueprint-grid-margin: 10px

@import blueprint
@import blueprint/reset
@import blueprint/typography
@import mixins
@import compass/css3

+blueprint-typography


// grid background for debugging
@import compass/layout/grid-background
$grid-background-total-columns: 24
$grid-background-column-width: 30px
$grid-background-gutter-width: 10px
