@import base

body
  +grad(#69c)
  background:
    repeat: no-repeat
    attachment: fixed

#container
  +container
  margin: 20px auto
  
#header, #footer
  +prepend(4)
  +column(20, true)
  +append(4)

#nav
  +no-user-select
  +column(4)
  text-align: right
  padding-top: span(1)
  font: 13px/30px sans-serif
  font-weight: bold

  ul
    list-style: none
    color: white
    margin-right: 0

  a
    color: white
    text-decoration: none

#content
  +container
  +box-sizing(border-box)
  +column(20)
  padding: span(1) 0
  margin-bottom: span(1)
  background: white
  @include gradient-bg(#f0f0f0, darken(white, 10%))
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5)
  border-radius: 5px

h2
  text-align: center

form
  +prepend(1)
  +column(10)
  +box-sizing(border-box)

label
  display: block
  clear: right
  font-weight: bold
  font-size: 13px
  line-height: 13px
  margin-top: span(1)

input
  display: block
  +box-sizing(border-box)
  clear: left
  margin-bottom: 0 0 span(3/4)
  &[type=text], &[type=password]
    border: 1px solid #aaa
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3)
    width: 100%
    padding: 5px 7px
    font-size: 14px
    &:focus
      border: 1px solid #c00
      border: 1px solid #69c
      box-shadow: inset 0 1px 4px rgba(102, 153, 204, 0.7)
      outline: none
  &[type=checkbox]
    font-size: 13px
    line-height: 13px
    vertical-align: middle

$submit_color: #58c830

button
  margin-top: 2em
  clear: both
  display: block
  width: 100%
  cursor: pointer
  font-size: 14px
  padding: 10px
  color: white
  font-weight: bold
  border: 1px outset darken($submit_color, 10%)
    radius: 2px
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.4)
  @include no-user-select
  @include grad($submit_color)
  &:hover
    @include grad(lighten($submit_color, 5%))
  &:active
    @include grad(darken($submit_color, 5%))

button.disabled
  color: #aaa
  @include grad(desaturate($submit_color, 80%))
  border: 1px outset desaturate(darken($submit_color, 5%), 100%)
  &:hover
    @include grad(desaturate($submit_color, 80%))
  &:active
    @include grad(desaturate($submit_color, 80%))

#agree
  float: left
  margin-right: 7px

h1
  color: #eeeeee
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5)
  text-align: center

hr
  border: 0
  color: #666
  background-color: #999
  height: 1px
  margin: 40px 0

#flash
  +container
  margin: 0 0 2em

.more
  cursor: pointer

.flash
  margin: 3em 1em
  padding: 1em
  border-radius: 5px

.flash li
  margin-left: 2em

.flash.error
  border: 1px solid #c00
  background: #fee
  color: #c00

.flash.notice
  border: 1px solid #0c0
  background: #efe
  color: #0c0

#new_password
  padding-right: 4em

#password_feedback
  float: right
  margin: -2em 1em
  font-weight: bold
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.2)

#help
  +column(9, true)
  +box-sizing(border-box)
  background: #fefefe
  border: 1px solid #ddd
  padding: 1em

  h3
    border-bottom: 1px solid #ddd

  li
    margin-left: 1em

  h4
    margin-bottom: 0.25em
