@import "base";

$submit_color: #58c830;

body {
  background: {
    repeat: no-repeat;
    attachment: fixed; };
  @include grad(#6699cc); }

header {
  padding-top: 1.5em; }

h1, h2 {
  text-align: center;
  color: #eeeeee;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }

form {
  width: 400px;
  @include gradient-bg(#f0f0f0, darken(white, 10%));
  padding: 2em 1em;
  margin: auto;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }

fieldset {
  margin: auto;
  width: 80%;
  border: none;
  padding-right: 1em; /* offset padding in inputs by doubling it */}

label {
  font-weight: bold;
  font-size: 1.1em;
  line-height: 1.1em;
  display: block;
  margin-top: 1.5em; }

input {
  &[type=text], &[type=password] {
    display: block;
    width: 100%;
    border: 0;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5);
    padding: 0.5em; // must be offset in fieldset
    font-size: 1.5em;
    &:focus {
      box-shadow: inset 0 1px 5px #3366cc;
      outline: none; } }
  &[type=checkbox] {
    line-height: 1.1em;
    vertical-align: middle;
    margin-top: 0;
    margin-right: 0.5em;
    margin-left: 0; } }

button[type=submit] {
  cursor: pointer;
  margin-top: 2em;
  float: right;
  font-size: 1.2em;
  margin-right: -2em;
  padding: 0.5em;
  color: white;
  font-weight: bold;
  border: 1px outset darken($submit_color, 10%) {
    radius: 2px; };
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.4);
  @include no-user-select;
  @include grad($submit_color);
  &:hover {
    @include grad(lighten($submit_color, 5%)); }
  &:active {
    @include grad(darken($submit_color, 5%)); } }
