@import base

body
  +grad(#69c)
  background:
    repeat: no-repeat
    attachment: fixed

.container
  +container
  margin: span(1) auto
  
.header, .footer
  +column(10, true)
  +prepend(3)
  +append(3)
  +last


.nav
  +column(3)
  text-align: right
  padding-top: span(1)
  font: 13px/30px sans-serif

  ul
    list-style: none
    color: white
    margin-right: 0

  a
    color: white
    text-decoration: none

.content
  +container
  +column(9, true)
  +prepend(1)
  padding: span(1)
  margin-bottom: span(1)
  background: white
  @include gradient-bg(#f0f0f0, darken(white, 10%))
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5)
  border-radius: 5px

fieldset
  +column(6)

label
  display: block
  clear: right
  font-weight: bold
  font-size: 1.1em
  line-height: 1.1em

input
  display: block
  +box-sizing(border-box)
  clear: left
  margin: 0
  margin-bottom: span(3/4)
  &[type=text], &[type=password]
    border: 0
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5)
    width: 100%

    // must be offset in fieldset
    padding: 7px 5px
    font-size: 1em
    &:focus
      box-shadow: inset 0 1px 5px #3366cc
      outline: none
  &[type=checkbox]
    line-height: 1.1em
    vertical-align: middle

button[type=submit]
  clear: both
  float: right
  display: block
  $submit_color: #58c830
  width: span(4)
  margin-left: span(1)
  cursor: pointer
  font-size: 1.2em
  padding: 0.5em
  color: white
  font-weight: bold
  border: 1px outset darken($submit_color, 10%)
    radius: 2px
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.4)
  @include no-user-select
  @include grad($submit_color)
  &:hover
    @include grad(lighten($submit_color, 5%))
  &:active
    @include grad(darken($submit_color, 5%))

#agree
  float: left
  margin-right: 1em

h1, h2
  line-height: 1em
  color: #eeeeee
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5)
  text-align: center

h1
  font-size: 3em

h2
  font-size: 2em

hr
  border: 0
  color: #666
  background-color: #999
  height: 1px
  margin: 2em 0
